ASPNET_Demo/Connected Services/AspNetWS/AspNetWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZweiteShared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZweiteShared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Klijent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterniBroj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klijent" nillable="true" type="tns:Klijent" />
  <xs:complexType name="CustomConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomConfig" nillable="true" type="tns:CustomConfig" />
</xs:schema>