ASPNET_Demo/Connected Services/AspNetWS/AspNetWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60822/AspNetWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZweiteShared" />
  <xs:element name="FindClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InterniBroj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZweiteShared" minOccurs="0" name="FindClientResult" nillable="true" type="q1:Klijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZweiteShared" minOccurs="0" name="GetCustomConfigResult" nillable="true" type="q2:CustomConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>